.title {
  text-align: center;
}

.switch {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 10px;
}

.hint {
  margin: 0 10px 10px;
  font-size: 0.85rem;
  opacity: 70%;
}

.form {
  display: flex;
  justify-content: space-between;
}

.synonyms {
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
}

.synonyms li {
  display: inline-block;
  padding: 5px 20px;
  margin-right: 10px;
  font-size: 0.85rem;
  font-weight: 700;
  opacity: 70%;
}
