.synonyms {
  border: 1px solid white;
  list-style: none;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
}

.syn-list {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
